<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Buku</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        <label for="judul">Judul</label>
        <input type="text" name="judul">
        <br>

        <label for="penerbit">penerbit</label>
        <input type="text" name="penerbit">
        <br>

        <label for="pengarang">pengarang</label>
        <input type="text" name="pengarang">
        <br>

        <label for="tahun">Tahun</label>
        <input type="number" min="1900" name="tahun">
        <br>
        <button type="submit">Buat</button>
    </form>
</body>
</html>