<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katalog Buku</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
    <a href="{% url 'katalog:create' %}">Tambah Buku</a>
    <hr>
    <table border="1">
        <thead>
            <td>Judul Buku</td>
            <td>Penerbit</td>
            <td>Pengarang</td>
            <td>Tahun</td>
            <td>Opsi</td>
        </thead>
        <tbody>
            {% for buku in data_buku %}
                <tr>
                    <td>{{ buku.judul }}</td>
                    <td>{{ buku.penerbit }}</td>
                    <td>{{ buku.pengarang }}</td>
                    <td>{{ buku.tahun }}</td>
                    <td>
                        <a href="{% url 'katalog:delete' buku.id %}">Hapus</a>
                        <a href="{% url 'katalog:update' buku.id %}">Ubah</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>